USE [HataTakip]
GO
/****** Object:  Table [dbo].[Hata]    Script Date: 05/18/2006 10:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hata](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJEID] [int] NOT NULL,
	[SONSORUID] [int] NOT NULL,
	[ACIKLAMA] [nvarchar](max) COLLATE Turkish_CI_AS NOT NULL,
	[YOLLAYANID] [int] NOT NULL,
	[COZUM] [text] COLLATE Turkish_CI_AS NULL,
	[COZUMONAY] [bit] NOT NULL CONSTRAINT [DF_Hata_COZUMONAY]  DEFAULT ((0)),
	[CEVAP] [bit] NOT NULL CONSTRAINT [DF_Hata_CEVAP]  DEFAULT ((0)),
	[ZAMAN] [datetime] NULL,
 CONSTRAINT [PK_Hata] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [HataTakip]
GO
ALTER TABLE [dbo].[Hata]  WITH CHECK ADD  CONSTRAINT [FK_Hata_Kullanici] FOREIGN KEY([YOLLAYANID])
REFERENCES [dbo].[Kullanici] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Hata]  WITH CHECK ADD  CONSTRAINT [FK_Hata_Proje] FOREIGN KEY([PROJEID])
REFERENCES [dbo].[Proje] ([ID])
ON UPDATE CASCADE