USE [HataTakip]
GO
/****** Object:  Table [dbo].[KTip]    Script Date: 05/18/2006 10:59:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KTip](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIP] [nvarchar](50) COLLATE Turkish_CI_AS NOT NULL,
 CONSTRAINT [PK_KTIP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
