USE [HataTakip]
GO
/****** Object:  Table [dbo].[Soru]    Script Date: 05/18/2006 11:00:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soru](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJEID] [int] NOT NULL,
	[SORU] [nvarchar](100) COLLATE Turkish_CI_AS NOT NULL CONSTRAINT [DF_Soru_SORU]  DEFAULT (N'bu soru eksik'),
	[GELISTIRICINOT] [nvarchar](100) COLLATE Turkish_CI_AS NULL,
	[KULLANICINOT] [nvarchar](100) COLLATE Turkish_CI_AS NULL,
	[EVETID] [int] NULL CONSTRAINT [DF_Soru_EVETID]  DEFAULT ((0)),
	[HAYIRID] [int] NULL CONSTRAINT [DF_Soru_HAYIRID]  DEFAULT ((0)),
	[ONCEKIID] [int] NULL CONSTRAINT [DF_Soru_ONCEKIID]  DEFAULT ((0)),
 CONSTRAINT [PK_Soru] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [HataTakip]
GO
ALTER TABLE [dbo].[Soru]  WITH CHECK ADD  CONSTRAINT [FK_Soru_Proje] FOREIGN KEY([PROJEID])
REFERENCES [dbo].[Proje] ([ID])
ON UPDATE CASCADE